{% extends "base.html" %}
{% block title%}Todos Index{%endblock%}
{%block content%}
<div div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tasks</th>
                <th scope="col">Completed</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {%for task in todo%}
                <tr>
                    <td scope="row" >{{task.tid}}</td>
                    <td>{{task.tasks}}</td>
                    <td>{{task.completed}}</td>
                    <td>
                        <a href="{{url_for('todos.update',tid=task.tid)}}">Update</a>
                    </td>
                    <td>
                        <a href="{{url_for('todos.delete',tid=task.tid)}}">Delete</a>
                    </td> 
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<a href="{{url_for('todos.add_task')}}">Add Task</a>
<a href="{{url_for('auth.logout')}}">Logout</a>
{%endblock%}